// aws config file for smRNAseq pipeline

aws {
	
	region = 'eu-central-1' // Adapt if the region is not eu-central-1 (Frankfurt)

	batch {
		cliPath = '/miniconda/bin/aws'
		maxParallelTransfers = 10

	}

	client { 
		maxConnections = 10
	}

}


workDir = params.validation ? 
	"s3://hgx-seq-work-acceptance20201223104707692700000001/" : 
	"s3://hgx-seq-work-production20201224124724400300000004/"


process {

    executor = 'awsbatch'
	queue = 'hgx_compenv_cpu'

    cpus   = { task.attempt *  1 }
    memory = { task.attempt < 2 ?  task.attempt * 12.GB : 15.GB }
    time   = { task.attempt * 4.h }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    withLabel:process_low {
        cpus = { task.attempt * 2 }
        memory = { task.attempt < 2 ?  task.attempt * 12.GB : 15.GB }
        time = { task.attempt * 6.h }
        queue = 'hgx_compenv_cpu'
    }
    withLabel:process_medium {
        cpus = { task.attempt * 6 }
        memory = { task.attempt < 2 ?  task.attempt * 15.GB : 36.GB }
        time = { task.attempt * 8.h }
        queue = 'hgx_compenv_mem'
    }
    withLabel:process_high {
        cpus = { task.attempt * 12 }
        memory = { task.attempt < 2 ?  task.attempt * 40.GB : 72.GB }
        time = { task.attempt * 10.h }
        queue = 'hgx_compenv_high_mem'
    }
    withLabel:process_long {
        time = { task.attempt * 20.h }
        queue = 'hgx_compenv_high_mem'
    }
    withLabel:process_high_memory {
        memory = { task.attempt < 2 ?  task.attempt * 80.GB : 160.GB }
        queue = 'hgx_compenv_high_mem' 
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
} 
